<h1>Dialog with the coach</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<h3>Your question</h2>
<p>Your question is : <%= @question %></p>
<p><em>YOU<em></em><p>

<h3>Coach answer</h3>
<p>Coach answer is : <%= @answer %></p>


