<h1>Ask your question to the coach</h1>
<form action="/answer" method="GET">
  <input type="text" name="question" placeholder= "what do you want to ask to the coach" >
  <input type="submit" value="Ask!">
</form>
