// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

.container .row {
  border-left: 4px solid rgb(80, 80, 80);
  padding: 5px;
}

.container .row .answer {
  background-color: rgb(255, 254, 225);

}
